extends layout

block content
  h1= title
  p #{title} is a Node.js based Mail Tracking API Server.

  h2 The API

  h3 API Url format

  li http://.../(country)/(carrier)/(postid)/(i18n)

  p (country) Country of Carrier of the mail.
  ul
    li ko - Korea
    li us - United States

  p (carrier) Carrier of the mail.
  ul Korea
    li koreapost_d - Korea Post Domestic Mails
    li koreapost_i - Korea Post International Mails
    li logen - Logen Corporation
    li korex_d - CJ Korea Express Domestic Mails
  ul United States
    li ecms_express - ECMS Express (APEX)
    li ups - UPS
    li iparcel - i-Parcel

  p (postid) Tracking ID or Tracking Number of the mail.
  ul
    li Example : 1234567890123
    li Tracking ID or Tracking Number format could be different by carrier of the mail.

  p (i18n) Language or Country of tracking data - Only Available on following carriers.
  ul
    li ECMS Express (APEX) : ko - Korean, en - English
    li UPS : ko_kr - Korean(Korea), en_us - English(US)

  h3 Example Url
  ul
  li http://mailtracker.c.youngbin.xyz/ko/koreapost_domestic/1234567890123
  li  http://mailtracker.c.youngbin.xyz/us/ecms_express/APELAX1234567890/ko
